<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- dubbo应用的名称-->
    <dubbo:application name="dubbo-provider"/>
    <!-- 服务注册中新的地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20881" />

    <!--指定暴露的服务接口及实例-->
    <!--<dubbo:service interface="com.itheima.service.UserService" ref="userService"/>-->
    <!--配置业务类实例-->
    <!--<bean id="userService" class="com.itheima.service.impl.UserServiceImpl"/>-->

    <!--扫描包 订阅服务扫描-->
    <dubbo:annotation package="com.itheima.service"/>

    <!--<dubbo:protocol name="dubbo" port="20881" />
    <dubbo:protocol name="rmi" port="1099" />-->
    <!-- 使用dubbo协议暴露服务 -->
    <!--<dubbo:service interface="com.itheima.service.HelloService" ref="helloService" protocol="dubbo" />-->
    <!-- 使用rmi协议暴露服务 -->
    <!--<dubbo:service interface="com.itheima.service.DemoService" ref="demoService" protocol="rmi" />-->
    <!-- 使用dubbo rmi协议暴露服务 -->
    <!--<dubbo:service interface="com.itheima.service.UserService" ref="userService"/>-->

    <!--<bean id="helloService" class="com.itheima.service.impl.HelloServiceImpl" />
    <bean id="demoService" class="com.itheima.service.impl.DemoServiceImpl" />
    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl" />-->

    <!--超时时间设置为3秒钟-->
    <dubbo:provider timeout="3000"></dubbo:provider>
</beans>